.title{
   font-weight: bolder;
}

.project{
    height: 91vh;
 }

 .project-1 {
    background-image: url(../img/zootaptap.jpg);
    background-size: cover; 
 }

 .project-2 {
    background-image: url(../img/bestaccenture.jpg);
    background-size: cover; 
 }

 .project-3 {
    background-image: url(../img/plataformas.jpg);
    background-size: cover; 
 }

 .project-4 {
    background-image: url(../img/dorapp.jpg);
    background-size: cover; 
 }

 .project h5{
    margin-top: 40vh;
 }